{% extends  'bases/base.html' %}

{% from 'bases/form.html' import render_form %}

{% block content %}
<div class="container vh-100">

  <div class="row justify-content-center">
      <img class="m-auto" src="/static/img/img-01.png" style="max-width: 100px" alt="IMG">
  </div>
      <hr></hr>
  <div class="row">
    <div class="col justify-content-center d-flex flex-column">
      <p class="font-weight-bold"><i class="fa fa-check" aria-hidden="true" style="color: #28a745; font-size: 23px" ></i>   Controle apurado dos dados</p>
      <br>
      <p class="font-weight-bold"><i class="fa fa-check" aria-hidden="true" style="color: #28a745; font-size: 23px"></i>   Otimização dos processos de manutenção</p>
      <br>
      <p class="font-weight-bold"><i class="fa fa-check" aria-hidden="true" style="color: #28a745; font-size: 23px"></i>   Um diferencial para o seu negócio</p>
      <br>
    </div>
    <div class="col">
      {{ render_form(form) }}
    </div>
  </div>
{% endblock %}