{% extends 'bases/base_geral.html' %} {% block content %} 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="col">
      {% include 'components/notification.html' %}
      <div class="row">
        <div class="form-group col-6">
          <input class="form-control" id="myInput" type="text" placeholder="Busca com palavra-chave">
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="padding-bottom: 20px;">
          <a
          href="{{ url_for('atividades.cadastrar_atividade') }}"
          class="btn btn-success" 
          >
          <i class="fa fa-plus" aria-hidden="true"></i>
          Cadastrar nova atividade
          </a>
        </div>
      </div>  
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Ordem de serviço</th>
              <th>Cliente</th>
              <th>Motor</th>
              <th>Técnico</th>
              <th>Status</th>
              <th>Data de inicio</th>
              <th>Data de término</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody id="myTable">
            {% for atividade in atividades %}
            <tr>
              <td>
                {{ atividade.id }}
              </td>
              <td>
                {{ atividade.ordem_servico }}
              </td>
              <td>
                {{ atividade.cliente }}
              </td>
              <td>
                {{ atividade.motor }}
              </td>
              <td>
                {{ atividade.usuario }}
              </td>
              <td>
                {% if atividade.status == "Em Andamento" %}
                <span class="badge bg-warning text-dark">{{ atividade.status }}</span>
                {% elif atividade.status == "Aguardando" %}
                <span class="badge bg-primary">{{ atividade.status }}</span>
                {% elif atividade.status == "Pausado" %}
                <span class="badge bg-secudary">{{ atividade.status }}</span>
                {% elif atividade.status == "Concluído" %}
                <span class="badge bg-success">{{ atividade.status }}</span>
                {% elif atividade.status == "Cancelado" %}
                <span class="badge bg-danger">{{ atividade.status }}</span>
                {% endif %}
              </td>
              <td>
                {{ atividade.data_inicio.strftime('%d/%m/%Y') }}
              </td>
              <td>
                {{ atividade.data_fim.strftime('%d/%m/%Y') }}
              </td>
              <td>
                <a class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Editar" href="{{ url_for('atividades.editar', id=atividade.id) }}">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </a>
                <a class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Remover" href="{{ url_for('atividades.deletar', id=atividade.id) }}">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
                <a class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Exibir relatório da atividade" href="{{ url_for('atividades.relatorio', id=atividade.id) }}">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
      </div>
    </div> 
  </div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>
{% endblock %}



