{% extends 'bases/base_geral.html' %} {% block content %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="col">
      <div class="row">
        <div class="form-group col-6">
          <input class="form-control" id="myInput" type="text" placeholder="Busca com palavra-chave">
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="padding-bottom: 20px;">
          <a
          href="{{ url_for('motores.cadastrar_motor') }}"
          class="btn btn-success" 
          >
          <i class="fa fa-plus" aria-hidden="true"></i>
          Cadastrar novo motor
          </a>
        </div>
      </div>  
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Equipamento</th>
              <th>Cliente</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Ip</th>
              <th>Cv</th>
              <th>Rpm</th>
              <th>Corrente</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody id="myTable">
            {% for motor in motores %}
            <tr>
              <td>
                {{ motor.id }}
              </td>
              <td>
                {{ motor.equipamento }}
              </td>
              <td>
                {{ motor.cliente }}
              </td>
              <td>
                {{ motor.marca }}
              </td>
              <td>
                {{ motor.modelo }}
              </td>
              <td>
                {{ motor.ip }}
              </td>
              <td>
                {{ motor.cv }}
              </td>
              <td>
                {{ motor.rpm }}
              </td>
              <td>
                {{ motor.corrente }}
              </td>
              <td>
                <a class="btn btn-warning btn-sm" href="{{ url_for('motores.editar', id=motor.id) }}">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </a>
                <a class="btn btn-danger btn-sm" href="{{ url_for('motores.deletar', id=motor.id) }}">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
      </div>
    </div> 
  </div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>
{% endblock %}



