<nav class="navbar navbar-expand-lg navbar-light">
  
  <a class="navbar-brand" href="{{ url_for('atividades.home') }}">
    <img class="m-auto" src="/static/img/img-01.png" style="max-width:80px" alt="IMG">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav nav-tabs">
      {% if not current_user.is_authenticated %}
      <li class="nav-item">
        <a href="{{ url_for('autenticacao.register') }}">Registrar</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('autenticacao.index') }}">Login</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="{{ url_for('usuarios.tela_usuarios') }}">Técnicos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="{{ url_for('clientes.tela_cliente') }}">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="{{ url_for('motores.tela_motor') }}">Motores</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" data-toggle="tooltip" data-placement="left" title="Sair" href="{{ url_for('autenticacao.logout') }}"><i class="fa fa-2x fa-sign-out" aria-hidden="true"></i></a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
<script>
  $( document ).ready(function() {
    console.log( "ready!" );
    var navlinks = $(".nav-link")
    navlinks.map(function(item){
      var href = $(this).attr("href")
      if(href == window.location.pathname){
        $(this).parent().addClass("active font-italic")
      }
      console.log(href)
    })
  });
</script>
<br><br>